@import: "./colors.less";

//----------------------------------------------Nav-----------------------------------------------
.nav-div {
  width: 100%;
  margin-bottom: 35px;
  background-color: #1e3f6c;
}
.to-home {
  display: block;
  margin: 10px auto 10px auto;
  text-align: center;
  width: 170px;
  color: @colorNavLogo;
  font-size: 30px;
  cursor: pointer;
  span {
    font-size: 14px;
  }
}
.nav-btn {
  width: 98%;
  color: #ffb935;
  font-weight: bold;
  margin: 10px auto 10px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: #ffb935;
    color: #1e3f6c;
  }
}
.nav-border {
  outline: #ffb935 solid 1px;
}
/*----------------------------------------HOME-------------------------------------*/
.home-container {
  text-align: center;
}
.home-container img {
  border-radius: 50%;
}
.home-container h1 {
  color: @colorPrimary;
}
/*----------------------------------------ANTD-EX-------------------------------------*/
.antdEx-container {
  width: 94%;
  margin: 0px auto 0px auto;
  padding: 25px;
  background-color: @colorTransparentGrey;
  button {
    margin: 30px;
  }
}
/*----------------------------------------REDUX-EX-------------------------------------*/
.reduxEx-container {
  width: 94%;
  margin: 0px auto 0px auto;
  padding: 25px;
  background-color: @colorTransparentGrey;
  p {
    color: @colorPrimaryText;
    strong {
      color: @colorSecundaryText;
    }
  }
  pre {
    color: @colorSecundaryText;
  }
}
/*----------------------------------------INSCRIPCIONES-------------------------------------*/
.inscripciones-container {
  text-align: center;
  background-color: white;
  background-size: cover;
  h1 {
    color: #2d3e54;
  }
  p {
    color: #2d3e54;
    margin: auto 20%;
    text-align: justify;
  }
  .input-section {
    margin-top: 20px;
    input {
      margin: 5px;
      background-color: #e6e6e6;
    }
    Button {
      background-color: #ffb935;
      color: #454846;
      border-radius: 15px;
      &:hover {
        background-color: #454846;
        color: #ffb935;
      }
    }
  }
}
/*----------------------------------------CIDT-------------------------------------*/
.CIDT-container {
  width: 94%;
  margin: 0px auto 0px auto;
  padding: 25px;
  background-color: white;
  .logos{
    margin: 0 auto;
    .FD {
      max-width: 20%;
      img {
        height: 50%;
      }
    }
    .EPJ {
      max-width: 20%;

      margin: 0 auto;
      img {
        height: 50%;
      }
    }
  }
  .text-cont {
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 3em;
      margin: 0;
      color: #62728a;
    }
    hr {
      width: 40%;
    }
    p {
      text-align: justify;
      margin: auto 10%;
      color: #b1b1b1;
    }
    Button {
      background-color: #ffb935;
      margin: 30px;
      color: #454846;
      border-radius: 15px;
      &:hover {
        background-color: #454846;
        color: #ffb935;
      }
    }
  }
}
/*----------------------------------------PROGRAMA-------------------------------------*/
.list-container{
  width: 94%;
  margin: 0px auto 0px auto;
  padding: 25px;
}