@import: "./colors.less";

//----------------------------------------------Nav-----------------------------------------------
.nav-div {
  width: 100%;
  margin-bottom: 35px;
  background-color: #1e3f6c;
}
.to-home {
  display: block;
  margin: 10px auto 10px auto;
  text-align: center;
  width: 170px;
  color: @colorNavLogo;
  font-size: 30px;
  cursor: pointer;
  span {
    font-size: 14px;
  }
}
.nav-btn {
  width: 98%;
  color: #ffb935;
  font-weight: bold;
  margin: 10px auto 10px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: #ffb935;
    color: #1e3f6c;
  }
}
.nav-border {
  outline: #ffb935 solid 1px;
}
/*----------------------------------------HOME-------------------------------------*/
.home-container {
  .titulo {
    .cidt {
      p {
        font-size: 500%;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        //background-color: red;
        text-align: center;
        color: white;
        border: 5px solid;
        margin: 40px;
        letter-spacing: 40mm;
      }
      //background-color: yellow;
      //border: 3px solid black;
    }
    .congreso {
      font-size: 300px;
      //background-color: blue;
      text-align: center;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: @colorPrimaryLigth;
      p {
        color: @colorTextCongres;
        font-size: 50px;
      }
      padding: auto;
      margin: auto;
    }
  }
  .escuelas {
    p {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: @colorTextCongres;
      font-size: 50px;
      text-align: center;
    }
  }
  .contenido {
    p {
      font-size: 25px;
      color: white;
      text-align: center;
      margin-left: 300px;
      margin-right: 300px;
    }
  }
  .icono-mapa {
    img {
      display: block;
      margin: auto;
      width: 100px;
      height: 100px;
    }
    h1 {
      text-align: center;
    }
  }

  .icono-calendario {
    img {
      display: block;
      margin: auto;
      width: 100px;
      height: 100px;
    }
    h1 {
      text-align: center;
    }
  }
  .imgRandom {
    text-align: center;
  }
  .fb {
    img {
      display: block;
      margin: auto;
      width: 50px;
      height: 50px;
    }
  }
  .tl {
    img {
      display: block;
      margin: auto;
      width: 50px;
      height: 50px;
    }
  }
}
/*----------------------------------------INSCRIPCIONES-------------------------------------*/
.inscripciones-container {
  text-align: center;
  background-color: white;
  background-size: cover;
  h1 {
    color: #2d3e54;
  }
  p {
    color: #2d3e54;
    margin: auto 20%;
    text-align: justify;
  }
  .input-section {
    margin-top: 20px;
    input {
      margin: 5px;
      background-color: #e6e6e6;
    }
    Button {
      background-color: #ffb935;
      color: #454846;
      border-radius: 15px;
      &:hover {
        background-color: #454846;
        color: #ffb935;
      }
    }
  }
}
/*----------------------------------------CIDT-------------------------------------*/
.CIDT-container {
  width: 94%;
  margin: 0px auto 0px auto;
  padding: 25px;
  background-color: #ffffff;
  .logos {
    margin: 0 auto;
    .FD {
      max-width: 20%;
      img {
        height: 50%;
      }
    }
    .EPJ {
      max-width: 20%;

      margin: 0 auto;
      img {
        height: 50%;
      }
    }
  }
  .text-cont {
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 3em;
      margin: 0;
      color: #62728a;
    }
    hr {
      width: 40%;
    }
    p {
      text-align: justify;
      margin: auto 10%;
      color: #b1b1b1;
    }
    Button {
      background-color: #ffb935;
      margin: 30px;
      color: #454846;
      border-radius: 15px;
      &:hover {
        background-color: #454846;
        color: #ffb935;
      }
    }
  }
}
/*----------------------------------------PROGRAMA-------------------------------------*/
.list-container {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 55%,
    rgba(27, 57, 95, 1) 100%
  );
  width: 100%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  .top-list {
    padding-left: 10%;
    height: 8%;
    .title {
      h1 {
        border: white solid 3px;
        margin: 5px;
        padding: 10px 5px;
        padding-left: 20px;
        font-size: 40px;
        width: max-content;
        color: #ffb935;
        background: none;
        border-radius: 0px;
        letter-spacing: 15px;
      }
      h2 {
        color: #ffb935;
        font-size: 30px;
        text-align: center;
        max-width: 280px;
        font-weight: bold;
      }
    }
    h1 {
      text-align: center;
      background-color: #ffb935;
      color: #1b395f;
      border-radius: 20px;
      width: 20%;
      margin: 0 auto;
    }
    table {
      table-layout: fixed;
      border-collapse: separate;
      tr {
        td {
          font-size: 18px;
          color: black;
          padding: 30px 20px;
          b {
            color: #ffb935;
          }
        }
      }
    }
  }
  .TwinButtons {
    text-align: center;
    Button {
      background-color: #ffb935;
      color: #1e3f6c;
      border-radius: 25px;
      font-size: 2em;
      font-weight: bold;
      height: auto;
      border: none;
      &:hover {
        background-color: #b1b1b1;
      }
    }
  }
  .event-list {
    padding-left: 10%;
    h1 {
      background-color: #1e3f6c;
      text-align: center;
      width: 40%;
      margin: 0 auto;
      font-size: 22px;
      b {
        color: #ffb935;
      }
    }
    h2 {
      background-color: #ffb935;
      font-weight: bold;
      color: #1b395f;
      text-align: center;
      width: 40%;
      margin: 10px auto;
    }
    table {
      table-layout: fixed;
      border-collapse: separate;
      tr {
        td {
          font-size: 18px;
          color: black;
          padding: 0px 20px;
          b {
            color: #1e3f6c;
          }
        }
      }
    }
    &-even {
      table {
        tr {
          td {
            b {
              color: #ffb935;
            }
          }
        }
      }
    }
  }
  .cuota {
    background-color: #ffb935;
    h1 {
      color: #1e3f6c;
      font-size: 40px;
      max-width: 50%;
      text-align: center;
      margin: auto;
      margin-top: 20px;
      font-weight: bold;
    }
    table {
      font-weight: bold;
      color: #1e3f6c;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 35px;
      tr {
        &:nth-child(odd) {
          td {
            color: white;
          }
        }
      }
      td {
        width: 400px;
      }
    }
  }
  .footer-programa {
    background: linear-gradient(
      0deg,
      rgba(27, 57, 95, 1) 5%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
